html {
    font-family: 'Montserrat', 'Sans serif';
}

body {
    margin: 0;
    background-color: #efefef;
}

header {
    background-color: #364552;
    padding: 3.5rem 2rem;
}

header h1 {
    float: center;
    color: white;
    font-size: 4rem;
    text-align: center;
}

header li {
    list-style: none;
    float: right;
}

header a {
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: right;
    margin-right: 1rem;
}
header a:hover{
    color: cornflowerblue;
}

header img {
    float: left;
    padding: 0;
    margin: 0;
    width: 11rem;
}
#container {
    padding: 0;
    margin: 0;
}
#imagenes {
    transition: box-shadow 0.3s ease;
    width: 120rem;
    margin: 0 auto;
    text-align: center;
}
#imagenes img:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}
#imagenes a{
    text-decoration: none;
    transition: color 0.3s ease;
    color:darkslategrey;
    font-size: 2rem;
    margin-left: 5.2rem;
    margin-right: 5.2rem;       
}
#imagenes a:hover{
    color: cornflowerblue;
}
.clearfix {
    clear: both;
}
footer{
    background-color: #222;
    padding: 3rem;
    color: #fff;    
}
footer section{
    float: right;
}
footer a{
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
}
footer a:hover{
    color: cornflowerblue;
}
