@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascota Feliz</title>
    <link rel="stylesheet" href="./Styles/index.css">
</head>

<body>
    <h1>Hola!! Buenvenidos a Mascota Feliz</h1>
    <div>
        <p>
            En esta página encontrarás los enlaces hacia el registro de:
        </p>
        <div>
            <img src=" https://c.stocksy.com/a/28t700/z9/1880214.jpg" alt="">
            <a href="RegistroDueno">Tú como responsable de tu mascota</a>
        </div>
        <div>
            <img src="https://nelsonvets.co.uk/wp-content/uploads/2015/09/Vets-and-a-Dog.jpg" alt="">
            <a href="./RegistroVeterinario">Tú como veterinario de nuestras mascotas</a>
        </div>
        <div>
            <img src="https://www.goredforwomen.org/-/media/Healthy-Living-Images/Healthy-Lifestyle/Pets/puppy-kitten-heart.jpg"
                alt="">
            <a href="./Pages/RegistroMascota">tu mejor amigo, nuestro más preciado paciente</a>
        </div>
    </div>
</body>

</html>
