@page
@model MascotaFeliz.App.Frontend.Pages.ListaMascotasModel
@{
}
<h1>Mascotas</h1>
<table class="table">
    @foreach (var mascota in Model.listaMascotas)
    {
        <tr>
            <td>@mascota.Nombre</td>

            <td>
                <a class="btn-btn-primary-table-btn" asp-page="./DetallesMascotas" asp-route-duenoId="@mascota.Id">
                    Detalle Mascota
                </a>
            </td>

        </tr>
    }
</table>

