@page
@model MascotaFeliz.App.Frontend.Pages.EditarDuenosModel
@{
    int duenoId = Model.dueno.Id;
}
<h2>Edicion de Dueños</h2>

<form method="post">
    <div class="form-group">
        <input type="hidden" asp-for = "dueno.Id" />
        <label asp-for="dueno.Nombres"></label>
        <input asp-for="dueno.Nombres" class="form-control">
        <label asp-for="dueno.Apellidos"></label>
        <input asp-for="dueno.Apellidos" class="form-control">
        <label asp-for="dueno.Direccion"></label>
        <input asp-for="dueno.Direccion" class="form-control">
        <label asp-for="dueno.Telefono"></label>
        <input asp-for="dueno.Telefono" class="form-control">
        <label asp-for="dueno.Correo"></label>
        <input asp-for="dueno.Correo" class="form-control">

        <button type="submit" class="btn btn-primary">Grabar</button>
    </div>
</form>

<a asp-page="./ListaDuenos" class="btn-default">Lista de Dueños </a>