@page
@model MascotaFeliz.App.Frontend.Pages.ListaDuenosModel
@{
}
<h1>Listado de Propietarios</h1>
<table class="table">
    @foreach (var dueno in Model.listaDuenos)
    {
        <tr>
            <td>@dueno.Nombres</td>
            <td>@dueno.Apellidos</td>

            <td>
                <a class="btn-btn-primary-table-btn" asp-page="./DetallesDuenos" asp-route-duenoId="@dueno.Id">
                    Detalle Dueno
                </a>
            </td>
            <td>
                <a class="btn-btn-primary-table-btn" asp-page="./EditarDuenos" asp-route-duenoId="@dueno.Id">
                    Editar Dueno
                </a>
            </td>
        </tr>
    }
</table>
<a class= "btn btn-prymary table-btn"asp-page="./EditarDuenos" class="btn-default">Adicionar Dueno</a>